@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    font-family: 'Playfair', sans-serif;
    font-weight: 300;
}

body {
    color: gray;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.box{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.row-img .content{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.row-img h4{
    margin-block: 0;
}

.row-img img {
    background-color: black;
    color: white;
    margin-right: 1rem;
}
