@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    font-family: 'Playfair', sans-serif;
    font-weight: 300;
}

body{
    margin: 0;
}

footer{
    color: #7C8975;
    background-color: black;
}

.foot{
    display: flex;
    justify-content: space-evenly;
}